<section class="p-5">
  <div class="flex justify-between">
    <h1 class="text-2xl">
      Existing Tasks
      <span class="text-red-500">({{ incompleteTasks.value()?.length }})</span>
    </h1>
  </div>
  <div>
    @if (incompleteTasks.value() && incompleteTasks.value().length > 0){
    <div>
      @for (task of incompleteTasks.value(); track task.id) {
      <app-task [task]="task" />
      }
    </div>
    } @else if (incompleteTasks.value() && incompleteTasks.value().length === 0)
    {
    <div class="my-2">No tasks found</div>
    } @else if (isLoading()) {
    <div>Loading...</div>
    } @else if (hasError()){
    <div class="text-red-500">An error has occurred</div>
    }
    <div>
      <div>
        <div class="flex justify-between">
          <h1 class="text-2xl">
            Completed Tasks
            <span class="text-green-500"
              >({{ completedTasks.value()?.length }})</span
            >
          </h1>
          <button>filter</button>
        </div>
        <div>
          <p>
            Daily Goal {{ dailyGoalStatus()?.currentValue }}/{{
              dailyGoalStatus()?.target
            }}
          </p>
        </div>
        <div class="w-40">
          <app-input [name]="form.controls.date" type="date" />
        </div>
        <div>
          @if (completedTasks.value() && completedTasks.value().length > 0){
          <div>
            @for (task of completedTasks.value(); track task.id) {
            <app-task [task]="task" />
            }
          </div>
          } @else if (completedTasks.value() && completedTasks.value().length
          === 0) {
          <div>No tasks found</div>
          } @else if (isLoading()) {
          <div>Loading...</div>
          } @else if (hasError()){
          <div class="text-red-500">An error has occurred</div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
