@if (!link()) {
<button
  class="p-3 rounded-3xl w-full {{ bgOptions[background()] }} {{
    colorOptions[color()]
  }}"
>
  {{ label() }}
</button>
} @else if (link() && isInternal()) {
<a
  [routerLink]="link()"
  class="p-3 rounded-3xl block w-full text-center {{
    bgOptions[background()]
  }} {{ colorOptions[color()] }}"
>
  {{ label() }}
</a>
} @else {
<a
  [href]="link()"
  (click)="navigateToLink(event)"
  class="p-3 rounded-3xl block w-full text-center {{
    bgOptions[background()]
  }} {{ colorOptions[color()] }}"
>
  {{ label() }}
</a>
}
