<nav
  class="flex justify-between items-center bg-[#2c2c2c] px-6 pt-4 pb-2 min-h-[60px] text-white"
>
  <div class="flex items-center gap-3">
    <span class="flex items-center" aria-label="wiz-book">
      <img
        src="/wiz-book.png"
        alt="wiz book"
        class="w-8 h-8 object-contain rounded-full"
      />
    </span>
    <span class="text-2xl font-normal font-['Source_Sans_Pro']"
      >The Guide Log</span
    >
  </div>
  <div class="flex items-center">
    <span class="flex items-center" aria-label="notifications">
      <!-- Material bell SVG -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-8 h-8"
        viewBox="0 0 24 24"
        fill="white"
      >
        <path
          d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6V11c0-3.07-1.63-5.64-4.5-6.32V4a1.5 1.5 0 00-3 0v.68C7.63 5.36 6 7.92 6 11v5l-1.29 1.29A.996.996 0 006 19h12a.996.996 0 00.71-1.71L18 16z"
        />
      </svg>
    </span>
  </div>
</nav>
