<nav
  class="bg-[#2c2c2c] p-4 border-t border-[#404040] fixed bottom-0 left-0 right-0 z-50 pb-10"
>
  <div class="text-white flex justify-between items-center">
    <div>
      <a
        routerLink="/dashboard"
        class="bg-transparent border-none p-0 m-0 flex items-center justify-center"
        aria-label="Dashboard"
      >
        <span
          class="material-icons text-[2rem]"
          [class.text-purple-500]="isActiveRoute('/dashboard')"
          [class.active-icon]="isActiveRoute('/dashboard')"
          [class.text-gray-400]="!isActiveRoute('/dashboard')"
          aria-hidden="true"
          >home</span
        >
      </a>
    </div>
    <div>
      <a
        routerLink="/logs"
        class="bg-transparent border-none p-0 m-0 flex items-center justify-center"
        aria-label="Logs"
      >
        <span
          class="material-icons text-[2rem]"
          [class.text-purple-500]="isActiveRoute('/logs')"
          [class.active-icon]="isActiveRoute('/logs')"
          [class.text-gray-400]="!isActiveRoute('/logs')"
          aria-hidden="true"
          >list</span
        >
      </a>
    </div>
    <div>
      <a
        routerLink="/logs/add-log"
        class="bg-transparent border-none p-0 m-0 flex items-center justify-center"
        aria-label="Add log"
      >
        <span
          class="material-icons text-[2rem]"
          [class.text-purple-500]="isActiveRoute('/logs/add-log')"
          [class.active-icon]="isActiveRoute('/logs/add-log')"
          [class.text-gray-400]="!isActiveRoute('/logs/add-log')"
          aria-hidden="true"
          >add_circle</span
        >
      </a>
    </div>
    <div>
      <a
        routerLink="/goals"
        class="bg-transparent border-none p-0 m-0 flex items-center justify-center"
        aria-label="Goals"
      >
        <span
          class="material-icons text-[2rem]"
          [class.text-purple-500]="isActiveRoute('/goals')"
          [class.active-icon]="isActiveRoute('/goals')"
          [class.text-gray-400]="!isActiveRoute('/goals')"
          aria-hidden="true"
          >sports_score</span
        >
      </a>
    </div>
    <div>icon 5</div>
  </div>
</nav>
