<section class="p-5">
  <h1 class="text-2xl">
    Logs
    <span>({{ allLogs.value()?.length }})</span>
  </h1>
  <div>
    @if (allLogs.value() && allLogs.value().length > 0 && !isLoading()) {
      <div>
        @for (log of allLogs.value(); track log.id) {
          <app-log [log]="log" />
        }
      </div>
    } @else if (allLogs.value()?.length === 0 && !isLoading()) {
      <div class="my-2">No logs found</div>
    } @else if (isLoading()) {
      <div>Loading...</div>
    } @else if (hasError()) {
      <div class="text-red-500">An error has occurred</div>
    }
  </div>
</section>
