<section>
  <div class="text-center mt-60">
    <h1 class="text-3xl text-white">Schedule It</h1>
    <p class="text-white ≈">Enter the verification code sent to your email</p>

    <div class="w-80 mx-auto">
      <form [formGroup]="form" (ngSubmit)="verifyCode()">
        <app-input
          placeholder="Verification Code"
          [name]="form.controls['code']"
        ></app-input>
        @if (error) {
        <app-error-text>{{ error }}</app-error-text>
        }
        <div class="mt-3">
          <app-button background="purple" label="Verify"></app-button>
        </div>
      </form>
    </div>
  </div>
</section>
