@if (goal()) {
<div class="cotc-bg-dark rounded-3xl p-4 m-4">
  <div class="space-y-2">
    <p class="text-xl">{{ title() }}</p>
    <div class="flex justify-between text-sm">
      <span>{{ goal()?.currentValue }} / {{ goal()?.target }} tasks</span>
      <span class="font-semibold"
        >{{ progressPercentage() | number : "1.0-0" }}%</span
      >
    </div>

    <div class="w-full relative py-6">
      <div
        class="w-full bg-[#161616] rounded-full h-4 overflow-hidden relative z-10"
      >
        <div
          class="progress-bar-track h-full bg-purple-600 transition-all duration-300 ease-out rounded-full"
          [style.width.%]="progressPercentage()"
        ></div>
      </div>
      <div
        class="progress-bar-glow absolute top-1/2 left-0 -translate-y-1/2 h-4 bg-purple-600 rounded-full transition-all duration-300 ease-out"
        [style.width.%]="progressPercentage()"
      ></div>
    </div>
  </div>
  <app-button
    label="Modify Goal"
    background="purple"
    color="white"
    link="/goals/edit-goal/{{ goal().goalId }}"
    [isInternal]="true"
  />
</div>
} @else {
<div class="cotc-bg-dark rounded-3xl p-4 m-4 flex justify-between items-center">
  <p class="">No goal found for {{ title() }}</p>
  <app-button
    label="Create Goal"
    background="purple"
    color="white"
    link="/goals/add-goal"
    [isInternal]="true"
  />
</div>
}
