<div class="cotc-bg-dark rounded-3xl p-4">
  <h2 class="text-xl mb-4">Task Goal Progress</h2>

  @if (goals.value() && goals.value().length > 0) { @for (goal of goals.value();
  track goal.goalId) {
  <div class="space-y-2">
    <p>{{ goal?.scope | titlecase }}</p>
    <div class="flex justify-between text-sm">
      <span>{{ goal?.currentValue }} / {{ goal?.target }} tasks</span>
      <span class="font-semibold"
        >{{ getProgressPercentage(goal) | number : "1.0-0" }}%</span
      >
    </div>

    <div class="w-full relative py-6">
      <div
        class="w-full bg-[#161616] rounded-full h-4 overflow-hidden relative z-10"
      >
        <div
          class="progress-bar-track h-full transition-all duration-300 ease-out rounded-full"
          [ngClass]="getProgressBgColor(goal)"
          [style.width.%]="getProgressPercentage(goal)"
        ></div>
      </div>
      <div
        class="progress-bar-glow absolute top-1/2 left-0 -translate-y-1/2 h-4 rounded-full transition-all duration-300 ease-out"
        [ngClass]="[getProgressColorClass(goal), getProgressBgColor(goal)]"
        [style.width.%]="getProgressPercentage(goal)"
      ></div>
    </div>
  </div>
  } } @else {
  <p class="text-gray-400 text-sm">No goal data available</p>
  }
  <app-button
    label="Modify Tasks"
    background="purple"
    color="white"
    link="/tasks"
    [isInternal]="true"
  />
</div>
