<section class="p-3">
  <div>
    <h1 class="font-['Source_Sans_Pro'] text-white text-2xl text-center">
      Create Your Account
    </h1>
  </div>
  <div id="input-container">
    <app-input placeholder="Name" [name]="form.controls['name']"></app-input>
    <app-input
      placeholder="Email Address"
      [name]="form.controls['email']"
    ></app-input>
    <app-input
      placeholder="password"
      [name]="form.controls['password']"
    ></app-input>
    <button
      class="bg-[#8a15ed] w-full mt-3 p-3 rounded-3xl text-white font-['Source_Sans_Pro']"
    >
      Sign Up
    </button>
    <div class="text-center mt-2">
      <a class="text-white font-['Source_Sans_Pro']" routerLink="/auth/login"
        >Back To Login</a
      >
    </div>
  </div>
</section>
