<section class="min-h-screen flex flex-col justify-end p-3">
  <div
    id="image-container"
    class="w-[200px] rounded-full overflow-hidden mx-auto mt-20"
  >
    <img src="/wiz-book.png" alt="" />
  </div>

  <!-- Input container sticks to bottom -->
  <div id="input-container" class="mt-auto mb-20">
    <h1 class="font-['Source_Sans_Pro'] text-white text-2xl">Login</h1>
    @if (submissionError) {
    <app-error-text>{{ submissionError }}</app-error-text>
    }
    <form (ngSubmit)="login()" [formGroup]="form">
      <app-input
        placeholder="example@email.com"
        [name]="form.controls['email']"
      ></app-input>
      @if (formErrors.email) {
      <app-error-text>{{ formErrors.email }}</app-error-text>
      }

      <app-input
        placeholder="**************"
        [name]="form.controls['password']"
      ></app-input>
      @if (formErrors.password) {
      <app-error-text>{{ formErrors.password }}</app-error-text>
      }
      <div class="mt-3">
        <app-button background="purple" label="Log in"></app-button>
      </div>
    </form>

    <div id="line-div" class="flex w-full items-center mt-3 gap-4">
      <div class="bg-white h-px w-full"></div>
      <span class="text-white font-['Source_Sans_Pro']">or</span>
      <div class="bg-white h-px w-full"></div>
    </div>

    <div id="external-sign-in" class="w-full flex mt-3 gap-4">
      <div id="google" class="w-full">
        <app-button
          label="Google"
          link="http://localhost:3000/auth/google"
          [isInternal]="false"
          background="white"
          color="black"
          type="link"
        ></app-button>
      </div>
      <div id="facebook" class="w-full">
        <app-button
          label="Facebook"
          link="http://localhost:3000/auth/facebook"
          [isInternal]="false"
          background="white"
          color="black"
          type="link"
        ></app-button>
      </div>
    </div>

    <div id="new-sign-in" class="mt-3">
      <app-button
        label="New user? Sign up now"
        link="/auth/register/create-user"
        [isInternal]="true"
        background="white"
        color="black"
        type="link"
      ></app-button>
    </div>
  </div>
</section>
